* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 350px;
  height: 200px;
  border-radius: 10px;
  object-fit: cover;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  padding-bottom: 45px;
}

.search {
  position: relative;
  left: -464px;
  bottom: 5px;
}
.flex {
  margin: 40px 128px;
  padding: 10px;
  background-color: #f8f8ff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.shift-button {
  display: flex;
  position: absolute;
  top: 900px;
  left: 967px;
  gap: 3px;
}
li {
  list-style-type: none;
  border-radius: 10px;
  width: 350px;
  height: 400px;
  transition: transform 0.2s;
}
li:hover {
  -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Safari 3-8 */
  transform: scale(1.1);
  background-color: bisque;
}
.title {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  column-gap: 175px;
  padding: 10px;
  margin: 10px;
  font-size: 15px;
}
.year {
  border-radius: 2px;
}
.subtags {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 20px;
  padding: 10px;
  margin: 10px;
  grid-template-rows: 28px;
}

.price {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 126px;
  padding: 10px;
  margin: 10px;
}

button {
  background-color: #99bbff;
  font-size: 20px;
  text-align: center;
  border-radius: 4px;
}
